<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button icon="pi pi-plus" class="mr-2"/>
        <p-button icon="pi pi-print" class="mr-2"/>
        <p-button icon="pi pi-upload" />
    </div>
    <div class="p-toolbar-group-center">
            <input class="p-2" pInputText placeholder="Search" />
    </div>
    <div class="p-toolbar-group-end">
        <p-splitButton label="Save" icon="pi pi-check" [model]="items" />
    </div>
</p-toolbar>
<br style="margin-top: 20px;">

<p-editor [(ngModel)]="text" [style]="{ height: '320px' }" placeholder="Hej med dig"></p-editor>
