<div class="mb-4 flex flex-1 flex-row gap-4">
  <p-card class="flex-grow" header="Simple Card">
    <p class="m-0">Lorem ipsum dolor sit amet...</p>
  </p-card>
  <p-card class="flex-grow" header="Simple Card">
    <p class="m-0">Lorem ipsum dolor sit amet...</p>
  </p-card>
  <p-card class="flex-grow" header="Simple Card">
    <p class="m-0">Lorem ipsum dolor sit amet...</p>
  </p-card>
</div>

<div class="flex flex-col gap-4">
  <p-card class="flex-grow" header="Simple Card">
    <p class="m-0">Lorem ipsum dolor sit amet...</p>
  </p-card>
  <p-card class="flex-grow" header="Simple Card">
    <p class="m-0">Lorem ipsum dolor sit amet...</p>
  </p-card>
  <p-card class="flex-grow" header="Simple Card">
    <p class="m-0">Lorem ipsum dolor sit amet...</p>
  </p-card>
</div>
